numpy==1.13.3
pandas==0.21.0
scipy==1.0.1
scikit-learn==0.19.1
pillow==5.1.0
seaborn==0.8.1
futures==3.0.5
line_profiler
memory_profiler
bokeh==0.12.15
virtualenv==15.0.3
wheel==0.31.0
statsmodels==0.8.0
pyparsing==2.2.0
python-dateutil==2.7.2
tornado==4.3
pytz==2016.4
cycler==0.10.0
matplotlib==2.2.2
gym==0.10.5
pymdptoolbox==4.0-b3
